<table border="1" cellpadding="3" style="border-collapse: collapse" bordercolor="#FFFFFF" cellspacing="1">
	<tr>
		<td colspan="14" class="successhead">Viewing: ~!header1~</td>
	</tr>
	<tr height="10"><td colspan='14' height="14" class="success"> ~!success~</td></tr>
	
  ~!header~ 
  <tr>
	  <td colspan="13"><font size='-6'>&nbsp;</font></td>
  </tr>
	<tr bgcolor="#000000">
		<td>&nbsp;</td>
       
				<td><b style="color:#E1E1E1;font-size:10px">Last Name</b></td>
		<td><b style="color:#E1E1E1;font-size:10px">First Name</b></td>
        <td><b style="color:#E1E1E1;font-size:10px">Type</b></td>
		<td><b style="color:#E1E1E1;font-size:10px">Email</b></td>
        <td><b style="color:#E1E1E1;font-size:10px">TSS</b></td>
        <td><b style="color:#E1E1E1;font-size:10px">Status</b></td>
        <td><b style="color:#E1E1E1;font-size:10px">Active</b></td>
		<td><b style="color:#E1E1E1;font-size:10px">Topics</b></td>
        <td><b style="color:#E1E1E1;font-size:10px">Browser</b></td>
        <td><b style="color:#E1E1E1;font-size:10px">P-Short</b></td>
        <td><b style="color:#E1E1E1;font-size:10px">P-Long </b></td>

		
		<td><b style="color:#E1E1E1;font-size:10px">CVs</b></td>
        <td><b style="color:#E1E1E1;font-size:10px">CV#</b></td>
        <td><b style="color:#E1E1E1;font-size:10px">Access</b></td>
	</tr>
	~!output~
</table>

