<script language="JavaScript" type="text/javascript">
<!--
arrValidationDesc=
	[
	[["required","Please enter a Title."]], // Title
	[["required","Please enter a VALID Date."],["date"]], // Deadline Date
	[["required","Please enter a VALID Date."],["date"]], // Close Warning Date 
	[["required","Please enter a VALID Date."],["date"]],// Early Warning Date
	[],// expiry Date
	[["required","Please enter a Warning Message"]],// Warning Message
	[["required","Please enter a Description"]],// Description
	[["required","Please enter a Synopsis"]]// Synopsisd
	]; 
//-->
</script>

<form method="post" name="form1" action="deadlines.php?section=view&id=~!id~" onSubmit="">
<input type="hidden" name="dropid" value="">
<input type="hidden" name="action" value="">
<table>
	<tr>
		<td colspan="3"  class="successhead">Update: Deadline</td>
	</tr>
	<tr height="10"><td colspan='7' height="14" class="success"> ~!success~</td></tr>
	<tr>
	  <td>&nbsp;</td>
	  <td colspan="2">&nbsp;</td>
    </tr>
	<tr>
		<td>Title:</td>
		<td colspan="2"><input type="text" name="title" maxlength="255" size="80" value="~!title~"></td>
	</tr>
	<tr>
		<td colspan="3"><i>note: date format is day/mon/year e.g. today is: 
		<script language="JavaScript">
		var now = new Date();
		var year = now.getFullYear()-2000;
		document.write(now.getDate() + '/' + (now.getMonth()+1) + '/0' + (now.getFullYear()-2000));
		</script></i></td>
	</tr>
    <tr><td>No Deadline</td><td><input type="checkbox" name="no_deadline" ~!no_deadline~> (no specific date; dates will be used for reminders only)</td></tr> 
    
	~!output~

	<tr><td colspan="5"><hr></td></tr>
	<tr><td colspan='5' align='center'><button type="button" name="" value="" onClick="document.form1.action.value='add_date_update';document.form1.submit();">Add an Additional Deadline</button></td></tr>
	<tr><td colspan="5"><hr></td></tr>
	<tr><td>&nbsp;</td><td colspan="4"><strong>%dd%</strong> = Deadline date, <strong>%de%</strong> = days earlier, <strong>%cde%</strong> = calculated date for ORS deadline</td></tr>
	<tr>
		<td valign="top">Warning Message:<br><i>(No HTML please)</i></td>
		<td colspan="2"><textarea name="warning_message" rows="4" cols="120">~!warning_message~</textarea></td>
	</tr>
	<tr><td>&nbsp;</td><td colspan='3'><input type="checkbox" name="override" ~!override~> Do not send a warning message</td></tr>
	<tr>
      <td valign="top">Synopsis:</td>
      <td colspan="2"><textarea name="synopsis" rows="5" cols="120">~!synopsis~</textarea></td>
    </tr>
	<tr>
		<td valign="top">Description:</td>
		<td colspan="2"><textarea name="description" rows="20" cols="120">~!description~</textarea></td>
	</tr>
    <tr><td>&nbsp;</td>
    <td>
    ~!htmldescription~
    </td></tr>
	<tr>
		<td valign="top">Research Topics:</td>
		<td><select name="topics[]" multiple size="8">
				~!topic_options~
			</select></td>
			
	</tr>
	<tr>
		<td>Approved:</td>
		<td colspan="2"><input type="checkbox" ~!approved_a~ name="approved" value="yes"></td>
	</tr>
	<tr>
	  <td>Internal:</td>
	  <td colspan="2"><input type="checkbox" name="internal" value="yes" ~!internal~>
        <a href="#"><img src="/images/help.gif" width="25" height="16" border="0" onClick="popHelp('submit_internal'); return false;"></a></td>
    </tr>
	<tr>
		<td>&nbsp;</td>
		<td colspan="2"><input type="submit" name="update" value="Update">&nbsp;&nbsp;
			<button type="button" onClick="window.location='deadlines.php?section=view&amp;delete=y&amp;id=~!id~'">Delete</button>  
			<button type="button" onClick="window.location='deadlines.php?section=view'">Back</button>
			~!picture_button~</td>
	</tr>
</form>
</table>
