<form method="post" name="form1" action="users.php?section=update&id=~!id~" onSubmit="return">
<table>
	<input type="hidden" name="old_username" maxlength="255" size="30" value="~!username~">
    <input type="hidden" name="letter" value="~!letter~">
    <input type="hidden" name="fac_only" value="~!fac_only~">
	<tr>
		<td colspan="2"  class="successhead">Update: User</td>
	</tr>
	<tr height="10"><td colspan='7' height="14" class="success"> ~!success~</td></tr>
	<tr>
	  <td colspan="2" >&nbsp;</td>
    </tr>
	<tr>

        <td>First Name:</td>
        <td><input type="text" name="first_name" maxlength="255" size="30" value="~!first_name~"></td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td><input type="text"  name="last_name" maxlength="255" size="30" value="~!last_name~"></td>
    </tr>
    <tr>
    <td>Department</td>
    <td><select name="department">
    ~!department_options~
    </select></td></tr>

    <tr>
    <td>Secondary Department</td>
    <td><select name="department2">
    ~!department2_options~
    </select></td></tr>

    <tr>
        <td>Email:</td>
        <td><input type="text" name="email" maxlength="255" size="30" value="~!email~"></td>
    </tr>

    <tr>
        <td>Username:</td>
        <td><input type="text" name="username" maxlength="255" size="30" value="~!username~"></td>
    </tr>

     <tr>
        <td>Employee Type:</td>
        <td><select name='emp_type'>
        ~!emp_type_options~
        </select>
    </td></tr>
    <tr>
        <td>Title:</td>
        <td><input type="text" name="title" maxlength="255" size="30" value="~!title~"></td>
    </tr>
     <tr>
        <td>Secondary Title:</td>
        <td><input type="text" name="secondary_title" maxlength="255" size="30" value="~!secondary_title~"></td>
    </tr>
     <tr>
        <td>Office Location:</td>
        <td><input type="text" name="office" maxlength="30" size="30" value="~!office~"></td>
    </tr>
     <tr>
        <td>Phone: <i>(403)123-4567</i></td>
        <td><input type="text" name="phone" maxlength="30" size="30" value="~!phone~"></td>
    </tr>
     <tr>
        <td>Fax:</td>
        <td><input type="text" name="fax" maxlength="30" size="30" value="~!fax~"></td>
    </tr>
     <tr>
        <td>Homepage:</td>
        <td><input type="text" name="homepage" maxlength="100" size="30" value="~!homepage~"></td>
    </tr>
     <tr>
        <td>User Topics (Filter)</td>
        <td><select name='topics[]' multiple size="8">
        <option value="0">View All</option>
        ~!topic_options~
        </select></td>
    </tr>
    <tr>
    	<td>One Line:</td>
		<td><textarea name="oneline" rows="1" cols="70"  >~!oneline_text~</textarea>  </td>
    </tr>
     <tr>
        <td>Short Profile:</td>
        <td><textarea name="profile_short" rows='3' cols="120">~!profile_short~</textarea></td>
        </tr>
    <tr>
        <td>Long Profile:</td>
        <td><textarea name="profile_ext" rows='12' cols="120">~!profile_ext~</textarea></td>
        </tr>
        <tr>
        <td>Keywords:</td>
        <td><input type="text" name="keywords" maxlength="255" size="80" value="~!keywords~">
</td>
    </tr>
    <tr>
        <td>Mail Events?:</td>
        <td><input type="checkbox" name="mail_events" value="1" ~!mail_events~></td>
    </tr>
     <tr>
        <td>Mail Deadlines?:</td>
        <td><input type="checkbox" name="mail_deadlines" value="1" ~!mail_deadlines~></td>
    </tr>
     <tr>
        <td>Feature User?:</td>
        <td><input type="checkbox" name="feature" value="1" ~!feature~></td>
    </tr>
    <tr>
        <td>Browser?:</td>
        <td><input type="checkbox" name="browser" value="1" ~!browser~></td>
    </tr>
    <tr>
        <td>Hidden?:</td>
        <td><input type="checkbox" name="hidden" value="1" ~!hidden~></td>
    </tr>
    <tr>
        <td>Disabled?:</td>
        <td><input type="checkbox" name="disabled" value="1" ~!disabled~></td>
    </tr>
    <tr>
        <td colspan="2"><hr>
        </td>
    </tr>
    <tr>
        <td>Status</td>
        <td><select name="emp_status">
        ~!emp_status_options~
        </select></td>
	</tr>
    <tr>
        <td>Start Date</td>
        <td><input type="text" name="start_date" size="6" value="~!start_date~"> <i>YYYY</i></td>
    </tr>
    <tr>
        <td>TSS Status</td>
        <td><input type="checkbox" name="tss" ~!tss~></td>
    </tr>
    <tr>
        <td>TSS Start</td>
        <td><input type="text" name="tss_start" size="6" value="~!tss_start~"> <i>YYYY</i></td>
    </tr>
    <tr><td>Employee #</td>
    <td><input type="text" name="emp_num" size="12" value="~!emp_num~"></td>
    </tr>
    <tr><td>Active Status</td>
    <td><input type="text" name="active_status" size=1 value="~!active_status~"> <i>(A=Active, L=Leave)</i></td></tr>

    <tr>
		<td>&nbsp;</td>
		<td><input type="submit" name="update" value="Update">&nbsp;&nbsp;
			<button type="button" onClick="window.location='users.php?section=view&delete=y&id=~!id~'">Delete</button>&nbsp;&nbsp;
			<button type="button" onClick="window.location='users.php?section=view~!fac_only~&letter=~!letter~'">Back</button>&nbsp;&nbsp;
            ~!picture_button~</td>
	</tr>
</form>
</table>