
<form method="post" name="form1" action=""
><table border="1" cellpadding="3" style="border-collapse: collapse" bordercolor="#FFFFFF" cellspacing="1">
	<tr>
		<td colspan="5" class="successhead">Where: Projects</td>
	</tr>
	<tr height="10"><td colspan='5' height="14" class="success"> ~!success~</td></tr>
	<tr>
	  <td colspan='5'>&nbsp;</td>

  </tr>

	<tr>
		<td>Project:</td><td><select name='project_id' onchange="form1.submit()"><option value='0'></option>
        ~!project_options~
        </select></td></tr>
    <tr><td valign='top'>Current:</td><td> ~!table~ </td></tr>    
    <tr><td>Country:</td><td><select name='country_code' onchange="form1.submit()"><option value='0'>--Select a Country--</option>
    ~!country_options~
    </select></td></tr>
    <tr><td>State:</td><td><select name='state_code' onchange="form1.submit()"><option value='0'></option><option value='NOSTATE'>--No State--</option>
    ~!state_options~
    </select></td></tr>
</table>
</form>
